@model IEnumerable<MarkFlixWebAPI.Models.Request>


@{
    ViewData["Title"] = "Requests";
}

<div class="row justify-content-center">
    <div class="text-center">
        <h1 class="display-4">Requested Items</h1>
    </div>
    @foreach (var item in Model)
    {
       <div class="card text-center bg-light m-3" style="max-width: 14rem; padding: 0px">
           <img src="@Html.DisplayFor(modelItem => item.Artwork)" class="card-img-top" alt="media artwork">

                   
                   
           <div class="card-body">

               
               <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>    
               <h6 class="card-subtitle mb-2 text-muted"> @Html.DisplayFor(modelItem => item.Type)</h6>
               @*<p class="card-text">Content Key: @Html.DisplayFor(modelItem => item.ContentKey)</p>*@
               <p class="card-text">Requested By: @Html.DisplayFor(modelItem => item.RequesterName)</p>
               
               
           </div>
       </div>
    }
    <a asp-controller="Users" asp-action="Index" class="btn btn-primary">
        Back To Users
     </a>
</div>
